# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [5]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep='\t')

In [7]:
chipo['item_price'] = chipo['item_price'].str.replace('$','', regex=False).astype(float)

### Step 4. How many products cost more than $10.00?

In [17]:
chipo[(chipo['quantity']==1) & 
      (chipo['item_price']>10)]['item_name'].nunique()

25

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [19]:
chipo[(chipo['quantity']==1)][['item_name','item_price']].drop_duplicates().sort_values(by=['item_name','item_price'])

              item_name  item_price
298   6 Pack Soft Drink        6.49
3195      Barbacoa Bowl        8.69
115       Barbacoa Bowl        8.99
95        Barbacoa Bowl        9.25
471       Barbacoa Bowl       11.48
...                 ...         ...
960   Veggie Salad Bowl        8.75
186   Veggie Salad Bowl       11.25
1395  Veggie Soft Tacos        8.49
781   Veggie Soft Tacos        8.75
738   Veggie Soft Tacos       11.25

[135 rows x 2 columns]

### Step 6. Sort by the name of the item

### Step 7. What was the quantity of the most expensive item ordered?

In [23]:
chipo[chipo['item_price']==chipo['item_price'].max()]['quantity'].iloc[0]

15

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [25]:
chipo[chipo['item_name']=='Veggie Salad Bowl']['order_id'].nunique()

18

### Step 9. How many times did someone order more than one Canned Soda?

In [32]:
len(chipo[(chipo['item_name']=='Canned Soda') & 
      (chipo['quantity']>1)]['order_id'])

20